/** @format */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

img {
	width: 250px;
	height: 250px;
	padding: 20px;
	border-radius: 50%;
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 40px;
	padding: 150px auto;
	margin: 0 150px;
	justify-items: center;
}
@media (max-width: 600px) {
	main {
		grid-template-columns: 1fr;
		margin: auto;
	}
}

@media (min-width: 600px) and (max-width: 1140px) {
	main {
		grid-template-columns: 1fr 1fr;
		margin: auto;
	}
}

section {
	background-color: beige;
	border-radius: 8px;
}

.title {
	padding: 20px;
	text-align: center;
}

p {
	width: 250px;
	padding: 20px;
	opacity: 50%;
}
header {
	background-color: chocolate;
	height: 200px;
	text-align: center;
	margin-bottom: 20px;
}
header h1 {
	padding-top: 60px;
	padding-bottom: 10px;
}
